<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{ title ?? "SpiderStack" }</title>
  <link href="/css/app.css" rel="stylesheet">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#facc15">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon" href="/icons/icon-192.png">
 

<script>
  function appState() {
    var s = {};
    s.drawerOpen = false;
    return s;
  }
  function gamesState() {
    var s = {};
    s.open = false;
    s.game = {};
    s.game.id = '';
    s.game.name = '';
    s.game.platform = '';
    s.game.year = '';
    s.game.genre = '';
    s.game.developer = '';
    s.game.sales = '';
    s.game.rating = '';
    s.selectGame = function(id, name, platform, year, genre, developer, sales, rating) {
      this.game.id = id;
      this.game.name = name;
      this.game.platform = platform;
      this.game.year = year;
      this.game.genre = genre;
      this.game.developer = developer;
      this.game.sales = sales;
      this.game.rating = rating;
      this.open = true;
    };
    s.clearGame = function() {
      this.game.id = '';
      this.game.name = '';
      this.game.platform = '';
      this.game.year = '';
      this.game.genre = '';
      this.game.developer = '';
      this.game.sales = '';
      this.game.rating = '';
      this.open = false;
    };
    return s;
  }
</script>


  <script src="/htmx.min.js"></script>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js');
    }
  </script>
</head>
<body x-data="appState()" @htmx:after-swap.window="drawerOpen = false" class="bg-zinc-950 text-white min-h-screen pb-20 lg:pb-0">
  <PartialsTopbar />
  <PartialsDrawer />
  <PartialsSidebar />
  <main id="main" class="lg:ml-72 pt-14 lg:pt-8 p-4 lg:p-8 min-h-screen">
    { slot }
  </main>
  <PartialsBottomNav />
</body>
</html>
